[Desktop Entry]
Name=VacuumTube
Exec=vacuumtube %U
Terminal=false
Type=Application
Icon=rocks.shy.VacuumTube
StartupWMClass=VacuumTube
GenericName=YouTube Leanback
Categories=AudioVideo;
Keywords=YouTube;YT;
Comment=YouTube TV interface on the desktop